/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables Globales */
:root {
    --max-width: 1200px;
    --container-padding: 20vh;

    --primary-color: #2E7D32;
    --secondary-color: #5D4037;
    --accent-color: #F57C00;
    --background-color: #141414;
    --white-color: #F5F5F0;
    --black-color: #000000;
    --grey-color: #808080;
    --light-grey-color: #CCCCCC;
    --mid-grey-color: #A9A9A9;
    --darker-grey-color: #696969;
    --hover-secondary-color: #265529;


    --text-size-xs: 0.8rem;
    --text-size-s: 1rem;
    --text-size-m: 1.2rem;
    --text-size-l: 1.5rem;
    --text-size-xl: 2rem;
    --text-size-xxl: 2.5rem;

    --radius-img-global: 16px;
    --radius-btn-global: 8px;
}

/* Estilos Bases */
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--white-color);
    font-family: "Manrope", sans-serif;
}

a {
    text-decoration: none;
    color: var(--light-grey-color);
}


span {
    color: var(--accent-color);
}

h1 {
    font-family: "Cormorant Garamond", serif;
    font-size: 5rem;
}

/* Subtitulo */
h2 {
    font-family: "Cormorant Garamond", serif;
    font-size: var(--text-size-xxl);
    font-weight: 800;
    text-align: center;
    margin-bottom: 2rem;
}

/* Contenedor Base */
.container {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--container-padding) 0;
    margin-top: -10px;
}

/* Boton General */
.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: var(--radius-btn-global);
    background-color: transparent;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    font-size: var(--text-size-s);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    gap: 0.5rem;
    text-align: center;
}

.btn-primary:hover {
    background-color: var(--accent-color);
    color: var(--background-color);
}

/* Boton secundario */

.btn-secondary {
    text-align: center;
    width: 50%;
    padding: 0.5rem 1rem;
    border-radius: var(--radius-btn-global);
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 1px 2px 5px 0px var(--background-color);
    cursor: pointer;
    gap: 0.5rem;
}

.btn-secondary:hover {
    background-color: var(--hover-secondary-color);
    color: var(--accent-color);
}

/* Boton terciario */

.btn-tertiary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: var(--radius-btn-global);
    background-color: transparent;
    border: 2px solid var(--light-grey-color);
    color: var(--light-grey-color);
    font-size: var(--text-size-s);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    gap: 0.5rem;
}

.btn-tertiary:hover {
    background-color: var(--light-grey-color);
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
}

/* NAVBAR */
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 0 2rem;
    position: fixed;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar-item {
    padding: 1.2rem 2rem;
    gap: 2rem;
    border-radius: 40px;
    border: 1px solid #f5f5f01d;
    background: #F5F5F01A;
    box-shadow: 2px 4px 10px 0px var(--black-color);
    backdrop-filter: blur(2px);
}

.navbar-item:hover {
    color: var(--accent-color);
    box-shadow: 2px 4px 10px 0px var(--accent-color);
}

.navbar-item a:hover {
    color: var(--accent-color);
}

.nav-container {
    display: flex;
    gap: 1rem;
}

.nav-icon {
    font-size: var(--text-size-l);
}

/* Contador del carrito */

.contadorCarrito {
    position: absolute;
    top: 4px;
    right: 18px;
    background-color: var(--accent-color);
    color: var(--background-color);
    font-weight: bold;
    border-radius: 100%;
    padding: 2px 8px;
    font-size: 14px;
}

#carrito-icono {
    position: relative;
    display: inline-block;
}

/* Menu Hamburguesa */
.hamburger {
    display: none;
    cursor: pointer;
    color: var(--light-grey-color);
}

/* HERO */
.bg-main-container {
    background-image: url(../imagenes/background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--background-color);
}

.hero-container {
    display: flex;
    justify-content: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 2rem;
    padding-top: 10vh;
}

.hero p {
    font-size: var(--text-size-m);
}

/* SECCION: PRODUCTOS DESTACADOS */
.productos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 10vh;
}

/* Card de productos*/
.card {
    display: flex;
    flex-direction: column;
    max-width: 276px;
    flex: calc(25% - 2rem);
    justify-content: space-between;
    border-radius: var(--radius-img-global);
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px var(--black-color);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    object-position: center;
    border-radius: var(--radius-img-global) var(--radius-img-global) 0 0;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: var(--radius-img-global);
    margin-top: -1rem;
    box-shadow: 0px 0px 10px 0px var(--black-color);
}

.card-text p {
    font-size: var(--text-size-xs);
}

.card-text h3 {
    font-size: var(--text-size-m);
    font-weight: 700;
}


/* Boton de Precio */
.precio-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.precio-btn p {
    font-size: var(--text-size-l);
    font-weight: 600;
    width: 50%;
}




/* SECCION: CATEGORIAS */
.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-categorias {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2vw;
    align-items: center;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    height: 200px;
    padding-bottom: 1rem;
    background-color: var(--black-color);
    color: var(--light-grey-color);
    font-size: var(--text-size-l);
    font-weight: 700;
    border-radius: var(--radius-img-global);
    transition: transform 0.2s ease;
    text-shadow: 0 1px 2px var(--black-color);
    background-size: cover;
    background-position: center;
}

.grid-item:hover {
    transform: scale(1.05);
    color: var(--white-color);
}


/* Imagenes de las categorias */
.grid-img1 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url(../imagenes/img_capsulas.jpg);
}
.grid-img2 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url(../imagenes/img_polvos.jpg);
}
.grid-img3 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url(../imagenes/img_gotero.jpg);
}
.grid-img4 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url(../imagenes/img_insumos.jpg);
}
.grid-img5 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url(../imagenes/img_micelio.jpg);
}
.grid-img6 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url(../imagenes/img_promos.jpg);
}
.grid-img7 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url(../imagenes/img_cursos.jpg);
}
.grid-img8 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url(../imagenes/img_eventos.jpg);
}



/* SECCION: VIDEO INFORMATIVO */
.video-container {
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    gap: 2rem;
    padding: 10vh 0;
}

.video-background {
    position: fixed;
    top: 55%;
    left: 50%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -2;
}

.video-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10vh 10vh 5vh 10vh;
    height: 100%;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-size: var(--text-size-xl);
    text-shadow: 0 2px 4px var(--black-color);
    gap: 5vh;
    z-index: -1;
}

/*BACKGROUND PARA EL RESTO DE LAS SECCIONES PARA EFECTO PARALLAX*/
#quienes-somos,
#envios,
#contacto {
    background-color: var(--background-color);
}


/* SECCION: ¿QUIENES SOMOS? */

.quienes-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20vh;
}

.quienes-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: nowrap;
}

.quienes-texto {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: var(--text-size-m);
    gap: 1rem;
}

.quienes-img {
    flex: 1;
    width: 100%;
    max-width: 50%;
    height: auto;
    border-radius: var(--radius-img-global);
}

/* SECCION: ENVIOS */
.envios-container {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 0 5rem 0;
    align-items: flex-start;
}

.envios-card {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 1rem;
    font-size: var(--text-size-m);
}

.envios-card p {
    width: 70%;
}

.envios-card img {
    width: 120px;
}

/* SECCION: CONTACTO */
.contacto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.contacto-container p {
    font-size: var(--text-size-m);
    padding: 2rem 0;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.formulario-datos {
    display: flex;
    width: 100%;
    gap: 2rem;
}

.formulario-datos div {
    width: 100%;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 1rem;
    margin-top: 0.5rem;
    border-radius: var(--radius-btn-global);
    border: 1px solid var(--grey-color);
    background-color: var(--white-color);
    color: var(--black-color);
    font-family: "Manrope", sans-serif;
    resize: none;
}

.formulario button[type="submit"] {
    width: 100%;
    margin-top: 2rem;
}

/* SECCION: FOOTER */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0 2rem;
    gap: 5rem;
    background: linear-gradient(to bottom, var(--background-color), var(--black-color));
    color: var(--white-color);
    margin-top: -10px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.footer-container ul {
    list-style: none;
}

.footer-container a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    color: var(--white-color);
    text-decoration: none;
}

.footer-container i {
    font-size: 2rem;
    color: var(--accent-color);
}

.footer-container a:hover {
    color: var(--accent-color);
}

.footer-container a:hover i {
    color: var(--white-color);
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer-item h4 {
    font-family: "Cormorant Garamond", serif;
    color: var(--accent-color);
    font-size: var(--text-size-xxl);
    font-weight: 700;
}




/* Estilos para la página del carrito */

.cart-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
}

.cart-area h3 {
    width: 100%;
    font-size: var(--text-size-l);
    text-align: left;
    margin-bottom: 1rem;
}

.cart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 2rem;
    align-items: end;
}


#cart-summary {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    gap: 2rem;
}

#cart-items {
    display: flex;
    flex: 3;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.cart-buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


/* CARDS DEL CARRITO */

.cart-card {
    display: flex;
    width: 100%;
    padding: 0.5rem 1rem;
    align-items: center;
    border: var(--mid-grey-color) 1px solid;
    border-radius: var(--radius-btn-global);
    gap: 1rem;
}

.cart-card:hover {
    box-shadow: 0px 0px 10px 0px var(--accent-color);
}

.erase-item {
    color: var(--accent-color);
    background-color: transparent;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

.erase-item:hover {
    color: rgb(211, 0, 0);
}

.cart-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: var(--radius-btn-global);
}

.item-quantity {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    border-radius: 0.5rem;
    align-items: center;
}

.item-quantity button {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 10px;
}

.item-quantity input[type="number"] {
    width: 2.5rem;
    height: 2.5rem;
    font-weight: bold;
    text-align: center;
    border: 1px solid var(--mid-grey-color);
    border-radius: 0.25rem;
    font-size: 1.2rem;
}

/* Estilos para ocultar los botones de incremento y decremento en el input de número */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.item-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.item-row h4 {
    margin: 0;
    flex: 1;
    font-size: var(--text-size-m);
    font-weight: 700;
}

.item-row span {
    font-size: var(--text-size-m);
    font-weight: 600;
}




/* QUERIES MEDIA */
@media (min-width: 1200px) {
    .contacto-container {
        width: 50%;
    }
}

@media (max-width: 1200px) {
    .card {
        flex: calc(50% - 2rem);
        max-width: 100%;
    }

    .container {
        padding: var(--container-padding) 15vw;
    }

    .quienes-container {
        flex-wrap: wrap;
    }

    .quienes-swap {
        flex-direction: column-reverse;
    }

    .quienes-img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    .footer-container {
        flex-direction: column-reverse;
        gap: 4rem;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 15vh 5vw;
    }

    .bg-main-container {
        background-size: contain;
    }

    /* Menu Hamburguesa responsive*/
    nav {
        flex-wrap: wrap;
        padding: 1rem 0.5rem 0 0.5rem;
    }

    .nav-container {
        display: none;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 100%;
        right: 0;
        padding: 1rem;
        align-items: end;
    }

    .nav-container.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .navbar-item {
        flex-direction: column;
        width: fit-content;
    }

    .to-top {
        flex-direction: row;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: var(--text-size-xl);
    }

    .video-texto {
        padding: 0 5vw;
    }

    .video-texto p {
        font-size: var(--text-size-m);
    }

    .envios-container {
        flex-wrap: wrap;
    }

    .envios-card p {
        width: 70%;
    }

    /* Carrito de compras */


    .item-row {
        flex-direction: column;
        align-items: center;
    }

    .item-quantity .btn-secondary {
        font-size: var(--text-size-s);
        padding: 0;
        width: 2rem;
        height: 2rem;
    }

    .item-quantity input[type="number"] {
        font-size: var(--text-size-s);
        padding: 0;
        width: 2rem;
        height: 2rem;
    }
}

@media (max-width: 600px) {
    .bg-main-container {
        background-size: auto;
    }

    .card {
        flex: 100%;
    }

    .formulario-datos {
        flex-direction: column;
        gap: 1rem;
    }

    .footer-item h4 {
        font-size: var(--text-size-l);
    }

    footer p {
        text-align: center;
    }
}


